.hs-number-input::-webkit-outer-spin-button,
.hs-number-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.hs-number-input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.hs-number-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.hs-number-input {
    text-align: center;
    width: 50px;
    min-width: 50px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.2em;
    color: cornflowerblue;
    font-weight: bold;
}

.hs-number-input:focus-visible {
    outline: none;
    box-shadow: rgb(100 149 237 / 24%) 0px 3px 8px;
}

.hs-number-input.changed {
    transform: scale(1.05);
}

.hs-number-input.error {
    transform: scale(1.05);
    color: orange;
    box-shadow: rgb(212 92 31 / 24%) 0px 3px 8px;
}

.hs-number-btn {
    border: none;
    background-color: cornflowerblue;
    color: white;
    padding: 15px 20px;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.2em;
    cursor: pointer;
}

.hs-number-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

.hs-number-btn:active {
    transform: scale(0.95);
}